deepface==0.0.68
mtcnn==0.1.1
mysql-connector-python==8.0.26
numpy==1.19.5
pafy==0.5.5
pandas==1.1.5
youtube-dl==2021.6.6
opencv-python==4.1.2.30
opencv-contrib-python==4.1.2.30
https://github.com/serengil/deepface_models/releases/download/v1.0/race_model_single_batch.h5
https://github.com/serengil/deepface_models/releases/download/v1.0/gender_model_weights.h5